<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Unsuccessful</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="flex flex-col items-center justify-center w-full h-screen bg-gray-900">
       <div><h1 class="text-3xl font-bold text-red-600">Sorry! User not found!</h1></div> 
    <div class="text-center"></div>
        <p class="text-gray-700 text-2xl">Don't have an account?</p>
        <a href="/" class="text-blue-500 hover:underline">Sign Up</a>
    </div>
    </div>
</body>
</html>